<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<!-- Links head -->
<head th:replace="fragments::head"></head>

<body>
<div id="app">
    <div class="main-wrapper">

        <head th:replace="fragments::navbar"></head>
        <head th:replace="fragments::sidebar"></head>

        <div class="main-content">
            <section class="section">
                <h1 class="section-header">
                    <div>Wydarzenie</div>
                </h1>
                <div class="row">
                    <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
                        <div class="card card-primary">
                        <form  th:action="@{/addevent}" method="post" th:object="${eventDTO}">
                            <div class="card">
                                <div class="card-header">
                                    <h4>Utwórz wydarzenie</h4>
                                </div>
                                <div class="card-body">
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label>Data rozpoczęcia</label>
                                            <input type="datetime-local" class="form-control"
                                                   th:field="*{event_start}"/>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label>Data zakończenia</label>
                                            <input type="datetime-local" class="form-control"
                                                   th:field="*{event_finish}"/>
                                        </div>
                                    </div>
                                    <div class="form-group" th:classappend="${#fields.hasErrors('name')}? 'has-error':''">
                                        <label>Nazwa wydarzenia</label>
                                        <input type="text" name="title" class="form-control" th:field="*{name}"/>
                                        <div class="alert alert-danger"
                                             th:each="error : ${#fields.errors('name')}"
                                             th:text="${error}">Validation error
                                        </div>
                                    </div>
                                    <div class="form-group" th:classappend="${#fields.hasErrors('description')}? 'has-error':''">
                                        <label>Opis</label>
                                        <textarea class="summernote-simple" th:field="*{description}"></textarea>
                                        <div class="alert alert-danger"
                                             th:each="error : ${#fields.errors('description')}"
                                             th:text="${error}">Validation error
                                        </div>
                                    </div>
                                    <div class="form-group"><label>Priorytet</label>
                                        <input class="form-control" value="50" type="range"/></div>

                                    <div class="form-group">
                                        <label>Kategoria</label><select
                                            class="form-control form-control-lg" th:field="*{category}">
                                        <option value="" selected="selected">Wybierz kategorię...</option>
                                        <option th:each="aCategory : ${categories}"
                                                th:value="${aCategory}"
                                                th:text="${aCategory.getName()}">
                                        </option>
                                    </select>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <button class="btn btn-primary">Zapisz</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                </div>
            </section>
        </div>
    </div>
</div>

<script src="/modules/jquery.min.js"></script>
<script src="/modules/popper.js"></script>
<script src="/modules/tooltip.js"></script>
<script src="/modules/bootstrap/js/bootstrap.min.js"></script>
<script src="/modules/nicescroll/jquery.nicescroll.min.js"></script>
<script src="/modules/scroll-up-bar/dist/scroll-up-bar.min.js"></script>
<script src="/js/sa-functions.js"></script>

<script src="/modules/chart.min.js"></script>
<script src="/modules/summernote/summernote-lite.js"></script>

<script src="/js/scripts.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/demo.js"></script>

</body>
</html>