<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="links">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<h1>To jest strona główna</h1><br>
<div th:fragment="postAdding" sec:authorize="isAnonymous()">
    <a th:href="@{/registration}">Rejestracja</a><br>

    <p> Aby widzieć pełną treść strony musisz się zalogować !!!</p>
</div>

<div th:fragment="postAdding" sec:authorize="!isAnonymous()">
    <p> Jesteś zalogowany! Teraz możesz przeglądać wszytskie treści</p>
</div>
</body>
</html>