<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<!-- Links head -->
<head th:replace="fragments::head"></head>

<body>
<div id="app">
    <section class="section">
        <div class="container mt-5">


            <div th:if="${param.failed}">
                <div class="alert alert-danger" style="text-align:center">
                    Użytkownik o podanym adresie email już istnieje.
                </div>
            </div>
            <div th:if="${param.passworderror}">
                <div class="alert alert-danger" style="text-align:center">
                    Potwierdzenie hasła musi być identyczne.
                </div>
            </div>


            <div class="row">
                <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
                    <div class="login-brand">
                        SMART CALENDAR
                    </div>
                    <div class="card card-primary">
                        <div class="card-header"><h4>Rejestracja</h4></div>

                        <div class="card-body">
                            <form th:action="@{/registration}" th:object="${userRegistrationDTO}" method="post">

                                <div class="row">
                                    <div class="form-group col-6">
                                        <label for="frist_name">Imię</label>
                                        <input id="frist_name" type="text" class="form-control" name="frist_name"
                                               th:field="*{firstName}" autofocus=''/>
                                        <div th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                                             class="alert alert-danger"></div>
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="last_name">Nazwisko</label>
                                        <input id="last_name" type="text" class="form-control" name="last_name"
                                               th:field="*{lastName}"/>
                                        <div th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                                             class="alert alert-danger"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input id="email" type="email" class="form-control" name="email"
                                           th:field="*{email}"/>
                                    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                                         class="alert alert-danger"></div>
                                </div>

                                <div class="row">
                                    <div class="form-group col-6">
                                        <label for="password" class="d-block">Hasło</label>
                                        <input id="password" type="password" class="form-control" name="password"
                                               th:field="*{password}"/>
                                        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                                             class="alert alert-danger"></div>
                                    </div>

                                    <div class="form-group col-6">
                                        <label for="passwordConfirm" class="d-block">Potwierdź hasło</label>
                                        <input id="passwordConfirm" type="password" class="form-control"
                                               name="passwordConfirm"
                                               th:field="*{passwordConfirm}"/>

                                        <div th:if="${#fields.hasErrors('passwordConfirm')}"
                                             th:errors="*{passwordConfirm}" class="alert alert-danger"></div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" name="agree" class="custom-control-input" id="agree"/>
                                        <label class="custom-control-label" for="agree">Akceptuję <a href="#"> warunki korzystania z
                                            serwisu</a></label>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block">
                                        Zarejestruj
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="simple-footer">
                        Copyright &copy; Smart Calendar 2018
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="/modules/moment.min.js"></script>

<script src="/modules/jquery.min.js"></script>
<script src="/modules/popper.js"></script>
<script src="/modules/tooltip.js"></script>
<script src="/modules/bootstrap/js/bootstrap.min.js"></script>
<script src="/modules/nicescroll/jquery.nicescroll.min.js"></script>
<script src="/modules/scroll-up-bar/dist/scroll-up-bar.min.js"></script>
<script src="/js/sa-functions.js"></script>
<script src="/js/scripts.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/demo.js"></script>

</body>
</html>