<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login page</title>
</head>
<body>
    <br>
            <div th:if="${param.success}">
                <div class="alert alert-info">
                    You've successfully registered to our awesome app!
                </div>
            </div>
            <div th:if="${param.failed}">
                <div class="alert alert-warning">
                    User already exists!
                </div>
            </div>
            <h1>Registration</h1>

            <form th:action="@{/registration}" th:object="${user}" method="post">

                <p class="error-message"
                   th:if="${#fields.hasGlobalErrors()}"
                   th:each="error : ${#fields.errors('global')}"
                   th:text="${error}">Validation error</p>
                <table>
                    <div class="form-group"
                         th:classappend="${#fields.hasErrors('nick')}? 'has-error':''">
                        <tr>
                            <td>
                                <label for="nick" class="control-label">Nick</label>
                            </td>
                            <td>
                                <input id="nick"
                                       class="form-control"
                                       th:field="*{nick}"/>
                                <p class="error-message"
                                   th:each="error : ${#fields.errors('nick')}"
                                   th:text="${error}">Validation error</p>
                            </td>
                        </tr>
                    </div><br>

                    <div class="form-group"
                         th:classappend="${#fields.hasErrors('password')}? 'has-error':''">
                        <tr>
                            <td>
                                <label for="password" class="control-label">Password</label>
                            </td>
                            <td>
                                <input id="password"
                                       class="form-control"
                                       type="password"
                                       th:field="*{password}"/>
                                <p class="error-message"
                                   th:each="error : ${#fields.errors('password')}"
                                   th:text="${error}">Validation error</p>
                            </td>
                        </tr>
                    </div><br>
                </table>
                <div class="form-group">
                   <br> <button type="submit" class="btn btn-success">Register</button><br><br><br>
                    <span>Already registered? <a href="/" th:href="@{/login}">Login here</a></span>
                </div>
            </form>
        </div>
    </div>
</body>
</html>