<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<!-- Links head -->
<head th:replace="fragments::head"></head>

<body>
<div id="app">
    <section class="section">
        <div class="container mt-5">

            <div class="row">
                <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
                    <div class="login-brand">
                        SMART CALENDAR
                    </div>
                    <div class="card card-primary">
                        <div class="card-header"><h4>Warunki korzystania z serwisu</h4></div>
                        <div class="card-body">
                            <div style="text-align: center">Cześć!</div>
                            <div style="text-align: center">Jesteśmy trójką początkujących programistów Java. Poniższa aplikacja została stworzona
                                po ukończeniu przez nas kursu "Java od podstaw".</div><br></br>
                            <div style="text-align: center">Dołożymy wszelkich starań żeby aplikacja działała i żeby żadne Twoje cenne dane nie wyciekły,
                                ale ponieważ jesteśmy świeżakami w tej dziedzinie, nie możemy nic zagwarantować.</div><br></br>
                            <div style="text-align: center">Wchodzisz na własną odpowiedzialność :)</div><br></br>
                        </div>
                    </div>

                    <div class="mt-5 text-muted text-center">
                        Wróć na stronę <a href="registration.html">rejestracji.</a>
                    </div>
                    <div class="simple-footer">
                        Copyright &copy; Smart Calendar 2018
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="/modules/moment.min.js"></script>

<script src="/modules/jquery.min.js"></script>
<script src="/modules/popper.js"></script>
<script src="/modules/tooltip.js"></script>
<script src="/modules/bootstrap/js/bootstrap.min.js"></script>
<script src="/modules/nicescroll/jquery.nicescroll.min.js"></script>
<script src="/modules/scroll-up-bar/dist/scroll-up-bar.min.js"></script>
<script src="/js/sa-functions.js"></script>
<script src="/js/scripts.js"></script>
<script src="/js/custom.js"></script>
<script src="/js/demo.js"></script>

</body>
</html>